<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/users/About">ABOUT///   </a><a href="/users/Insert">   INSERT///   </a><a href="/users/Update">   UPDATE///   </a><a href="/users/find">   FIND///   </a><a href="/users/Delete">   DELETE///   </a><a href="/">   LOG OUT   </a>
    <br><br><br>
</body>
</html>