<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>header}}
    <h2>
        Hello Everyone
    </h2>
    <br>
    <h3>How are you All</h3> 
    <br> <br>
    <a href = "/LogIN"><h3>Sign In</h3></a>
    <a href = "/SignIn"><h3>Sign Up</h3></a> 
    <br> <br> <br> <br> 
    <p1>★ Todo is a powerful and intuitive tasks manager. ★ See your tasks on the app's live tile, and set tasks notifications. ★ Repeating tasks (daily, weekly...), e.g. "Pay credit card" every month.
    Here You can store your daily works on the basis of the days.
    </p1>
</body>
</html>